.images-container {
    width:90vw;
    /* height: 50%; */

}
.event-img {
    object-fit: cover;
    width:100%;
    height:100%;
}

.btn {
    margin: 10px 5px;
    border: 2px solid hsl(300, 8%, 13%);
    padding: 10px;
    border-radius: 10px;
    background-color: #231E23;
    color: white;
}

.btn:hover {
    border: 2px solid #39A6A3;
    background-color: transparent;
    color: #39A6A3;

}

.start {
    background-color: #39A6A3;
    width: max-content;
    margin: 0 auto;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
