@import '../_Variables.scss';

// font-family: 'Raleway', sans-serif;
// font-family: 'Zen Kurenaido', sans-serif;

.backButton,
.advancedSearchButton {
	background-color: rgba(0, 0, 0, 0);
	color: $purple;
	text-decoration: underline $magenta;
	padding: 0.02rem 0.4rem 0.3rem 0.4rem;
	font-size: 1.5rem;
	border-radius: 10px;
	// height: 2rem;
	margin: 3px;
}
.btn {
    margin: 10px 5px;
    border: 2px solid hsl(300, 8%, 13%);
    padding: 10px;
    border-radius: 10px;

    background-color: #231E23;
    color: white;
}

.btn:hover {
    border: 2px solid #39A6A3;
    background-color: transparent;
    color: #39A6A3;


}
.advancedSearchButton {
	width: 12rem;
	font-size: 1rem;
	// margin: 0 auto;
}
.searchToolbar {
	display: flex;
	justify-content: space-between;
}
.backButton:hover,
.advancedSearchButton:hover {
	box-shadow: inset 0 0 100px 100px rgba(245, 72, 127, 0.7);
}
.BLPage {
	padding: 1rem;
	font-family: 'Zen Kurenaido', sans-serif;

	// background-color: rgb(238, 236, 236);
}
.bucketListTitle {
	font-family: 'Raleway', sans-serif;
	width: 90vw;
	border-bottom: 3px solid $hot-pink;
	animation: flyin 1.2s ease forwards;
  	// opacity: 0;
  	// transform: scale(2);
  	// filter: blur(4px);
}

.greeting {
	margin: 0px;
	text-align: left;
}

.blEvent {
	border: 0.2rem solid $navy;
	border-radius: 10px;
	padding: 1rem;
	text-align: center;
	margin: 0.2rem;
	// box-shadow: 10px 5px 5px $hot-pink;
	transform: scaleY(1);
	transform: scaleX(1);
	transition: transform 0.7s ease-in-out;
	background-color: $dark-gray;
	// filter: blur(1px);
  	// transition: filter 1s;
}
.blEvent a {
	text-decoration: none;
	color: $hot-pink;
}

.blEvent:hover {
	box-shadow: 8px 8px 8px $hot-pink;
	// transform: rotate(1deg);
	/* transform: scaleX(1.1); */
	// transition: ease 0.5s;
	/* box-shadow: 10px 10px white; */
	transition: all 0.2s ease-in-out;
	transform: scale(1.1);
	color: $hot-pink
	// filter: blur(0px);
}
.blImage {
	// border: 1px solid $hot-pink;
	// box-shadow: inset 100px 100px 100px 100px $white-smoke;
	width: 100%;
	height: 150px;
	object-fit: cover;
	background-color: black;
	
	// border: 2px inset rgba(0,0,0,0);
}
.bucket-event-list {
	height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
	margin: 2rem auto;
	padding: 2rem;
	// border: 2px solid red;
	justify-items: center;
}

.event-list::-webkit-scrollbar {
	display: none;
}
.topImageContainer, .blEvent {
	object-fit: cover;
	-webkit-animation: expand 1s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: expand 1s; /* Firefox < 16 */
	-ms-animation: expand 1s; /* Internet Explorer */
	-o-animation: expand 1s; /* Opera < 12.1 */
	animation: expand 1.5s;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
}


.event-link {
	height: fit-content;
	width: 300px;
	margin: 1rem;
}
.bucketButton{
		background-color: $navy;
	}
.topImageContainer{
	height:300px;
	// border: 2px solid red;
	width: 100vw;
}
@keyframes expand {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@-webkit-keyframes expand {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
.topImage{
	content: cover;
	width:100%;
	height:300px;
	object-fit: none;
}
@media (min-width: 600px) {
	.bucket-event-list {
		/* how event list is displayed (itself) */

		/* in parents grid this is how I'm displayed (aka: where do I live) */
		grid-column: 1 / span 3; /* I live in column one and span 3 columns */

		margin: 1rem; /* there is a buffer around my edges of 1 elemental unit */

		/* how does event list display its children */
		display: grid; /* children live inside a grid */
		grid-template-columns: repeat(
			auto-fill,
			minmax(300px, 1fr)
		); /* grid has a template for it's columns. the columns repeat at 300px */
		gap: 2rem; /* place a gap between each child equal to 5 elemental units */
	}
}
@media (prefers-color-scheme: dark) {
	.blEvent:hover {
		box-shadow: 8px 8px 8px $white-smoke;
		color: $hot-pink;
	}

	.blEvent {
		border-radius: 5px;
		border: solid 3px $hot-pink;
		height: 500px;
		width: 300px;
		margin: 1rem;
		padding: 1rem;
		flex-grow: 1 0 33%;
	}
	.bucketButton{
		background-color: $magenta;

	}
}
