@import '../Variables';

@media (prefers-color-scheme: dark) {

    .dashboard-btn {
        color: $white-smoke;
        text-decoration: underline $magenta;
    }
    .dashboard-btn:hover {
        color: $white-smoke;
    }
}

.dash-nav {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-items: space-evenly;
}

.dashboard-btn {
    margin: 0 auto;
    width: 120px;
    height: 30px;
    border: none;
    background: none;
    color: $deep-pink;
    font-size: 1em;
    text-decoration: none;
}

.dashboard-btn:hover {
    text-decoration: underline 1px #f5487f;
    /* text-decoration-color: rgba(0, 0, 0, 1); */
    text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px rgba(241, 150, 222, 0.8),0 -4px 15px rgba(255,255,255,0.5);
    transition: 0.5s ease;
    -webkit-transition: 0.1s ease;
    cursor: pointer;
}