@import '../_Variables.scss'; 

.dashboard {
	display: flex;
	flex-direction: column;
	max-height: 100%;
	max-width: 100%;
	background: $white-smoke-fade;
}

.dashboard-buttons {
	background: $white-smoke-fade;
	display: inline-flex;
	border: none;
	text-decoration: none;
}

#cal-btn {
	z-index: 1;
	display: block;
	height: 80px;
	width: 80px;

	bottom: 40px;
	border: none;
	border-radius: 100%;
	background-image: url('../assets/cal-icon.jpeg');
	background-size: cover;
	background-color: $deep-pink;

}

@keyframes expand {
	from {
		scale: 0;
	}
	to {
		transform: rotate(25deg);
		scale: 1;
	}
}

@-webkit-keyframes expand {
	from {
		scale: 0;
	}
	to {
		transform: rotate(25deg);
		scale: 1;
	}
}

@media (min-width: 600px) {
	.dashboard-buttons {
		width: 100%;
		grid-row: 1;
		grid-column: 1 / span 2;
		justify-content: right;
	}
	.dashboard {
		display: grid;
		grid-template-rows: 1fr/7fr;
		grid-template-columns: 1fr 5fr;
		gap: 1rem;

		  background: url('../assets/Adobe_lantern.jpeg');
    	background-size: cover;
	}

	#cal-btn {
		display: none;
	}
	.calendar {
		margin-top: 1rem;
		grid-row: 2;
		grid-column: 1;
		width: 80%;
		display: flex;

        animation-name: expand;
        animation-duration: 2s;
	}
}
