@import '../_Variables.scss';

// font-family: 'Raleway', sans-serif;
// font-family: 'Zen Kurenaido', sans-serif;

.advancedSearch {
	font-family: 'Zen Kurenaido', sans-serif;
	// // background-color: $white-smoke-fade;
	width: 80vw;
	border: 2px solid hotpink;

	margin: 50px auto;
	border-radius: 20px;
	box-shadow: 15px 15px rgba(0, 0, 0, 0.9);
	background-image: linear-gradient(
		// rgba(31, 48, 110, 1),
		// rgba(245, 72, 127, 1)
			rgba(31, 48, 110, .7),
		rgba(1,1,1, .7)
	);
	padding: 1rem;
}

.searchFields {
	display: flex;
	flex-direction: column;
	font-size: smaller;
	// font-size: 1.2rem;
	// border: 2px solid green;

	font-size: 1.2rem;
}
.formTitle {
	font-family: 'Raleway', sans-serif;
}

.searchLabel {
	justify-content: right;
	color: $hot-pink;
}
.advancedSearch {
	max-width: 1000px;
}
.keyword,
.startDate,
.endDate,
.city,
.state {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	min-width: 10rem;
	justify-content: space-between;
	align-items: baseline;
}
.formInput {
	border: none;
	background-color: transparent;
	border-bottom: 2px solid rgba(31, 48, 110, 1);
	margin-top: 20px;
	width: 40vw;

}

.formInput {
	background-color: rgb(46, 41, 43);
	// width: max-content;
	border-radius: 10px;
	padding: 20px;
	// margin: 80px auto;
	box-shadow: 15px 15px black;
	color: white;
	font-family: 'Raleway', sans-serif;
	margin-right: 1rem;
}

::placeholder {
	color: white;
}
.row5col2 {
	font-family: 'Zen Kurenaido', sans-serif;
	font-size: 0.8rem;
	border: 0.5px solid rgb(26, 24, 24);
	border-radius: 5px;
	// width: 200px;
	// background-color: red;
}

.formInput:hover{
	box-shadow: inset 0 0 100px 100px rgba(245, 72, 127, 0.7);
}

.searchButton {
	margin: 2rem .5rem .8rem auto;
	display: block;
	cursor: pointer;
	background-color: transparent;
	color: $purple;
	text-decoration: underline $magenta;
	padding: 0.02rem 0.4rem 0.3rem 0.4rem;
	font-size: 1.5rem;
	border-radius:10px;
}

.searchButton:hover {
	box-shadow: inset 0 0 100px 100px rgba(245, 72, 127, 0.7);
}

.toggle,
.toggleTest {
	display: block;
}
.noToggle,
.noToggleTest {
	display: none;
}
@media (prefers-color-scheme: dark) {
	.memory-options button {
		height: 30px;
		align-self: center;
		border-radius: 5px;
		color: #f5487f;
		font-weight: 600;
	}

	.searchButton {
		width: 120px;
		color: #f5487f;
		font-weight: 700;
		border-radius: 5px;
	}
	.advancedSearch {
		color: white;
	}
	::placeholder {
		color: white;
	}
}

@media (min-width: 600px) {
	.toggle {
		display: block;
	}
	.noToggle {
		display: none;
	}
	.noToggleTest {
		display: block;
	}
	.toggleTest {
		display: block;
	}
	.searchFields {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		// grid-template-columns: 2fr 4fr;
		// grid-template-rows: auto;
		// gap: 1rem;
		align-content: space-around;
		justify-content: center;
		font-size: 1.2rem;
	
	}
	.advancedSearch {
		max-width: 1500px;
	}
	.formInput,
	.searchLabel {
		width: 20vw;
		max-width: 12rem;
	}
	.formInput {
		margin-top: 0px;
		margin-bottom: 1rem;
	}
	.searchLabel {
		margin-bottom: 0px;
	}
	.keyword,
	.startDate,
	.endDate,
	.city,
	.state {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		margin-top: 1rem;
		// border: 2px solid red;
		// width: 15vw;

		// max-width: 11rem;
	}
}
