@import '../Variables';

@media (min-width: 600px) {
	.searchFields {
		border: 10px solid orange;
		height: 600px;
		width: 600px;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
}
 
@import '../_Variables.scss';

// font-family: 'Raleway', sans-serif;
// font-family: 'Zen Kurenaido', sans-serif;

.advancedSearch {
	font-family: 'Zen Kurenaido', sans-serif;
	border: 2px solid $hot-pink;
	background-color: $white-smoke;
	width: 80vw;
	margin: 1rem auto;
	padding: 0.5rem;
	border-radius: 10px;
}
.searchFields {
	display: grid;
	grid-template-columns: 2fr 4fr;
	grid-template-rows: auto;
	gap: 1rem;
	font-size: 1.2rem;
}
::placeholder {
	color: $dark-gray;
}
.row1col1 {
	grid-column: 1;
	grid-row: 1;
}
.row1col2 {
	grid-column: 2;
	grid-row: 1;
	font-family: 'Zen Kurenaido', sans-serif;
}
.row2col1 {
	grid-column: 1;
	grid-row: 2;
}
.row2col2 {
	grid-column: 2;
	grid-row: 2;
	font-family: 'Zen Kurenaido', sans-serif;
}
.row3col1 {
	grid-column: 1;
	grid-row: 3;
}
.row3col2 {
	grid-column: 2;
	grid-row: 3;
	font-family: 'Zen Kurenaido', sans-serif;
}
.row4col1 {
	grid-column: 1;
	grid-row: 4;
}
.row4col2 {
	grid-column: 2;
	grid-row: 4;
	font-family: 'Zen Kurenaido', sans-serif;
}
.row5col1 {
	grid-column: 1;
	grid-row: 5;
}
.row5col2 {
	grid-column: 2;
	grid-row: 5;
	font-family: 'Zen Kurenaido', sans-serif;
	font-size: 0.8rem;
	border: 0.5px solid rgb(26, 24, 24);
	border-radius: 5px;
	// height: 1.2rem;
}
.searchButton {
	margin: 10px 5px 10px auto;
	display: block;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
	color: $purple;
	text-decoration: underline $magenta;
	padding: 0.02rem 0.4rem 0.3rem 0.4rem;
	font-size: 1.5rem;
}

.searchButton:hover {
	box-shadow: inset 0 0 100px 100px rgba(245, 72, 127, 0.7);
}

.toggle,
.toggleTest {
	display: block;
}
.noToggle,
.noToggleTest {
	display: none;
}

@media (min-width: 600px) {
	.toggle {
		display: block;
	}
	.noToggle {
		display: none;
	}
	.noToggleTest {
		display: block;
	}
	.toggleTest {
		display: block;
	}
	.searchFields {
		display: flex;
		flex-flow: row wrap;
		// grid-template-columns: 2fr 4fr;
		// grid-template-rows: auto;
		// gap: 1rem;
		font-size: 1.2rem;
	}
	.advancedSearch {
		max-width: 1000px;
	}
	.keyword,
	.startDate,
	.endDate,
	.city,
	.state {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		min-width: 10rem;
	}
}
