@import '../Variables';

@media (min-width: 600px) {

    .event-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .event-link {
        text-decoration: none;
        color: $white-smoke;
    }

    .event-container{
        border-radius: 5px;
        border: $link-border;
        height: 500px;
        width: 300px;
        margin: 1rem;
        padding: 1rem;
        flex-grow: 1 0 33%;
    }

    .event-container h2 {
        font-size: 1rem;
    }

    .event-container:hover {
        box-shadow: 5px 5px 5px $white-smoke;
        color: $hot-pink;
    }
    
	.image {
		// height: 200px;
		width: 300px;
		object-fit: contain;
		justify-self: center;
	}

}
