
.headline {
        grid-row: 1;

        background: url(https://media.giphy.com/media/YSlmPfN7Ptvqg/giphy.gif);
        background-size: cover;
        background-clip: text;

        text-align: center;
        -webkit-text-fill-color: transparent;
        font-size: 80px;
    }



@media(min-width: 500px) {
    .headline {
        grid-row: 1/ span 2;
        grid-column: 1/ 4;
        font-size: 100px;

        background-size: cover;
        background-position: absolute;
        background-position-y: 10%;
        background-position-x: 60%;
    }

    .invite {
    grid-column: 2;
}
}