@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kaushan+Script&family=Raleway:ital,wght@0,100;0,500;0,700;0,800;0,900;1,100;1,500;1,600;1,900&family=Satisfy&family=Seaweed+Script&family=Zen+Kurenaido&display=swap");
.backButton,
.advancedSearchButton {
  background-color: rgba(0, 0, 0, 0);
  color: #553772;
  text-decoration: none;
  padding: 0.4rem;
  font-size: 1.5rem;
  border-radius: 10px;
  margin: 1rem;
}

.btn {
  margin: 10px 5px;
  border: 2px solid #241e24;
  padding: 10px;
  border-radius: 10px;
  background-color: #231e23;
  color: white;
}

.btn:hover {
  border: 2px solid #39a6a3;
  background-color: transparent;
  color: #39a6a3;
}

.advancedSearchButton {
  width: 12rem;
  font-size: 1rem;
}

.searchToolbar {
  display: flex;
  justify-content: space-between;
}

.backButton:hover,
.advancedSearchButton:hover {
  box-shadow: inset 0 0 100px 100px rgba(245, 72, 127, 0.7);
}

.BLPage {
  padding: 1rem;
  font-family: "Zen Kurenaido", sans-serif;
}

.bucketListTitle {
  font-family: "Raleway", sans-serif;
  width: 90vw;
  border-bottom: 3px solid #f5487f;
  animation: slide 1.2s ease forwards;
  font-size: 48px;
  text-shadow: 5px 5px #f5487f;
}

@keyframes slideup {
  from {
    margin-top: 100%;
  }
  to {
    margin-top: 0;
  }
}
@-webkit-keyframes slideup {
  from {
    margin-top: 100%;
  }
  to {
    margin-top: 0;
  }
}
@keyframes slidein {
  from {
    margin-left: 100%;
  }
  67% {
    margin-left: -0.5%;
  }
  to {
    margin-left: 0;
  }
}
@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
  }
  67% {
    margin-left: -0.5%;
  }
  to {
    margin-left: 0;
  }
}
.blEventName {
  font-size: 1.6rem;
}

.greeting {
  margin: 0px;
  text-align: left;
}

.blEvent {
  border: 0.2rem solid #1f306e;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  margin: 0.2rem;
  transform: scaleY(1);
  transform: scaleX(1);
  transition: transform 0.7s ease-in-out;
  background-color: #171717;
}

.blEvent a {
  text-decoration: none;
  color: #f5487f;
}

.blEvent:hover {
  box-shadow: 8px 8px 8px #f5487f;
  /* transform: scaleX(1.1); */
  /* box-shadow: 10px 10px white; */
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
  color: #f5487f;
}

.blImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.bucket-event-list {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  padding: 2rem;
  justify-items: center;
}

.event-list::-webkit-scrollbar {
  display: none;
}

.topImageContainer {
  object-fit: cover;
  -webkit-animation: expand 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: expand 1s;
  /* Firefox < 16 */
  -ms-animation: expand 1s;
  /* Internet Explorer */
  -o-animation: expand 1s;
  /* Opera < 12.1 */
  animation: expand 1.5s;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  border-bottom: 5px solid #f5487f;
}

.blEvent {
  animation-name: slideup;
  animation-duration: 4s;
}

.event-link {
  height: fit-content;
  width: 300px;
  margin: 1rem;
}

.bucketButton {
  background-color: #1f306e;
}

.topImageContainer {
  height: 300px;
  width: 100vw;
  position: cover;
}

@keyframes expand {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes expand {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.topImage {
  content: cover;
  width: 100%;
  height: 300px;
  object-fit: none;
}

@media (max-width: 600px) {
  .BLPage {
    padding: 0.25rem;
  }

  .topImageContainer {
    height: 150px;
    text-align: center;
  }

  .topImage {
    height: 150px;
  }

  .bucketListTitle {
    font-size: 24px;
  }

  .bucket-event-list {
    padding-top: 1rem;
    width: 80vw;
  }

  .blEvent {
    max-width: 300px;
    width: 70vw;
    text-align: center;
    margin: 0rem;
    margin-top: 1.7rem;
  }

  .img-container {
    width: 60vw;
    max-width: 250px;
    margin: 0rem auto;
  }

  .blImage {
    width: 100%;
  }

  .blEventName {
    font-size: 18px;
  }
}
@media (prefers-color-scheme: dark) {
  .blEvent:hover {
    box-shadow: 8px 8px 8px whitesmoke;
    color: #f5487f;
  }

  .blEvent {
    border-radius: 5px;
    border: solid 3px #f5487f;
  }

  .bucketButton {
    background-color: #8f3b76;
  }

  .backButton,
.advancedSearchButton {
    color: white;
    border: 2px solid #c7417b;
  }
}
@media (min-width: 600px) {
  .bucket-event-list {
    /* how event list is displayed (itself) */
    /* in parents grid this is how I'm displayed (aka: where do I live) */
    grid-column: 1/span 3;
    /* I live in column one and span 3 columns */
    margin: 1rem;
    /* there is a buffer around my edges of 1 elemental unit */
    /* how does event list display its children */
    display: grid;
    /* children live inside a grid */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid has a template for it's columns. the columns repeat at 300px */
    gap: 2rem;
    /* place a gap between each child equal to 5 elemental units */
  }
}

/*# sourceMappingURL=BucketList.css.map */
