.hidden {
    display: none
}

.link {
  border-bottom: solid 1px black;
}

.home-link {
  color: #8f3b76;
  text-decoration: none;
  font-size: 3em;
  font-weight: 500;
  text-align: center;
  grid-column: 2;
}

.home-link:hover {
  color: black;
}

/* Don't display the links on mobile */
.links {
  /* display: none; */
}

.linkDisplay {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 0.3rem;
}

.linkDisplay a, .logout {
  text-decoration: none;
  color: whitesmoke;
  border-bottom: solid 2px #f5487f;
  font-size: 2rem;
}

.linkDisplay a:hover {
  background-color: #171717;
}

.hamburger-link {
  font-size: 2rem;
}

.nav-link {
  color: whitesmoke;
  font-size: 2rem;
  background: none;
  padding: 0;
  text-decoration: none;
  margin: 0 20px;
  font-size: 20px;
  transition: text-decoration-color 300ms;
  float: left;
    -webkit-transition: 0.5s ease;
}

.nav-link:hover {
    border-bottom: solid 5px #f5487f;
    /* text-decoration-color: rgba(0, 0, 0, 1); */
    text-shadow: 0px -2px 0px rgba(0,0,0,1), 0 0 5px rgba(241, 150, 222, 0.8),0 -4px 15px rgba(255,255,255,0.5);
    -webkit-transition: 0.1s ease;
    cursor: pointer;
}

.logout {
    padding: 0 10px;
    border-bottom: solid 5px #f5487f;
}

.logout:hover {
    background-color: #8f3b76;
    border-radius: 20px;

}

header {
    display: flex;
    background-color: rgba(31, 48, 110, 1);
    padding: 30px 30px 10px;
    justify-content: right;
    
}




@media (min-width: 600px) {

  .links {
    display: contents;
    font-size: 30px;
  }

  .hamburger {
    display: none;
  }
}