
.dashboard-buttons {
    display: inline-flex;
    border: none;
    text-decoration: none; 

}

.dashboard-btn {
    margin-left: 5px;
    width: 120px;
    height: 30px;
    border: none;
}


.personal-calendar {
    margin: 1rem auto;
}

@media(min-width: 600px){


    .personal-calendar {
    grid-column: 3;
    grid-row: 1/span 2;
    }

    .personal-memories {
        grid-column: 1/span 2;
    }
}