@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kaushan+Script&family=Raleway:ital,wght@0,100;0,500;0,700;0,800;0,900;1,100;1,500;1,600;1,900&family=Satisfy&family=Seaweed+Script&family=Zen+Kurenaido&display=swap');

$navy: rgba(31, 48, 110, 1);
$purple: rgba(85, 55, 114, 1);
$magenta: rgba(143, 59, 118, 1);
$deep-pink: rgba(199, 65, 123, 1);
$hot-pink: rgba(245, 72, 127, 1);
$dark-gray: rgb(23, 23, 23, 1);
$white-smoke: rgba(245, 245, 245, 1);
$white-smoke-fade: rgba(245, 245, 245, 0.2);
$link-size: 2rem;
$link-border: solid 2px $hot-pink;
$border: 0.2rem solid $hot-pink;
$borderRadius: 10px;
$box-shadow: 10px 5px 5px black;