$navy : rgba(31, 48, 110, 1);
$purple: rgba(85, 55, 114, 1);
$magenta: rgba(143, 59, 118, 1);
$deep-pink: rgba(199, 65, 123, 1);
$hot-pink: rgba(245, 72, 127, 1);
$dark-gray: rgb(23, 23, 23, 1);
$white-smoke: rgba(245,245,245,1);
$link-size: 2rem;
$link-border: solid 2px $hot-pink;
