body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

body {
	background-color: whitesmoke;
	color: rgba(31, 48, 110, 1);
}

button {
	cursor: pointer;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: rgba(23, 23, 23, 1);
		color: whitesmoke;
	}
}
